body {
	background: lightgray;
}

.main {
	display: block;
	width: 500px;
	margin: auto;
	background: tan;
	padding: 40px 40px;
	width: 600px;
	position: relative;
}

h1 {
	font-size: 2.3em;
	color: darkred;
	text-decoration: underline;
}

h2 {
	color: darkred;
}

.signup {
	background: -webkit-linear-gradient(rgb(221, 64, 64), rgb(156, 61, 61));
	padding: 10px 20px;
	border: 1px solid lightgray;
	border-top-right-radius: 18px;
	color: lightgray;
	float: right;
}